<nav class="navbar navbar-light bg-faded">
  <div class="container-fluid">
    <a class="nav-brand" href="/">Simon's Pattaya Hummus Laboratory</a>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="contactus" routerLinkActive="active">Contact Us</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" routerLink="gallery" routerLinkActive="active">Gallery</a>
      </li>
    </ul>
  </div>
</nav>
