<div class="container-fluid ">
  <div class="row">
    <div class="left-col col-sm-8">
      <h1>Simon's Pattaya - Hummus Laboratory</h1>
      <h2>Definitely The Best Hummus In Thailand</h2>
      <p>Your satisfaction is important for us. Don't hasitate to contact us.
      </p>
      <br/>
      <div class="row">
          <div class="inleft-col col-sm-6">
            <img class="img-responsive" src="../../assets/images/simon31.jpg" alt="Simon" width="100%" height="400px" >
        </div>
            <div class="inleft-col col-sm-6">
              <p>Cuisine: Middle Eastern, Israeli<br/> Meals: Breakfast, Lunch, Dinner<br/> Open Hours: daily 10:00 - 01:00<br/> Phone Number:
                +66 33 031 023<br/> Send Email: simon@pattayahummus.com<br/> LINE:
              </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="right-col embed-responsive embed-responsive-4by3">
        <h1>Location</h1>
        <p>350 Soi Buakhao, 2nd Floor,  <br/>
          Buakhao Night Market ,<br/> 
          Moo 9, Pattaya 20150, Thailand
        </p>
        <app-gmap></app-gmap>
      </div>
    </div>
  </div>
</div><br>
