.left-col {
    height: auto;
    text-align: left;
    color: black;
    font-size: 16pt;
 }
 
 .mid-col {
     text-align: right;
 }
 
 .right-col {
  text-align: center;
  height: auto;
  text-align: left;
  color: black;
  font-size: 16pt;
 }
 
 .carousel-inner img {
     width: 100%; /* Set width to 100% */
     margin: auto;
     min-height:200px;
 }
   /* Hide the carousel text when the screen is less than 600 pixels wide */
   @media (max-width: 600px) {
     .carousel-caption {
       display: none; 
     }
   }
   h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 700;
    color: black;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: black;
}